<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置 -->
<configuration>
	
	<!-- 2.settings: 包含了很多影响MyBatis运行行为的设置项 
			setting: 一个具体的设置项
				name: 设置项的名字
				value: 设置项的取值
	 -->
	 
	 <settings>
	 	<!-- 映射下划线到驼峰命名 -->
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 	<!-- 开启延迟加载 -->
	 	<setting name="lazyLoadingEnabled" value="true"/>
	 	<!-- 设置加载的属性是按需还是全部 -->
	 	<setting name="aggressiveLazyLoading" value="false"/>
	 </settings>
	
	
</configuration>